.app-container{
    height: 100%;
    border: 2px solid white;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.side-panel{
    border: 1px solid white;
}

.main-panel{
    background-color: rgb(16, 154, 175);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
}